/* -        -   common PAGE CSS    -       - */
.nav-item a{
    color: black;
    color: #271e1eb7;
    
}
.cust-m{
    margin-left: 3%;
}
#menu-item{
    border-radius: 5px;
    height: 38px;
    padding: 0 10px;
    cursor: pointer;
}
#menu-item:hover{
    background-color: #555562;     
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 12px;
    bottom: 65px;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 3;
    border-radius: 4px;
    overflow: hidden;
    background-color: #3a3a46;
}
.dropdown-content a {
    color: white;
    padding: 8px 14px 8px 12px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #555562;
    border-radius: 5px;
}
.show {
    display: block;
}
#profile:hover, #app:hover{
    background-color: #303030;
}
.textbg{
    background: #404045;
    font-size: 25px; font-weight: 300;
    padding: 5px 10px;
}
#topic {
    background-color: #404045;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px; 
    font-size: 16px;
}
.appqr{
    top: -55px;
    left: -1px;
    display: none;
    position: absolute;
    z-index: 3;
    color: white;
    border-radius: 4px;
}
.appqr.show{
    display: block;
}

.topic-btn {
    cursor: pointer;
    padding: 12px;
    background-color: #3a3a46;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.topic:hover {
    background-color: #4a4a56;
}

.content-display {
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    margin-top: 20px;
    min-height: 300px;
    /* display: none; */
    position: relative;
    flex-direction: column;
}
.reviewcds, .addtps, .chatai{
    cursor: pointer;
    padding: 8px;
    margin: 0 10px;
    border-radius: 15px;
    background: #404045;
}
.reviewcds:hover, .addtps:hover, .chatai:hover{
    box-shadow: 0 0px 5px rgba(190, 188, 188, 0.2);
}

/* -        -   login & signup PAGE CSS    -       - */
#container {
    width: 300px;
    padding: 20px;
    margin: 15vh auto;
    color: white;
    border-radius: 5px;
    background:  #404045;
}
#container2 {
    width: 50%;
    margin: 3vh auto;
    color: white;
    padding: 20px;
    border-radius: 5px;
    background-color: #404045;
}
input[type="text"], input[type="number"], input[type="url"], textarea, input[type="email"], input[type="password"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
    /* color: #46ad5cc9; */
}
.fixed-large{
    position: fixed;
}
.onhover:hover{
    box-shadow: 0 0 10px  whitesmoke;
}
.onhover2{
    box-shadow: 0 0 10px  whitesmoke;
}

#foot-links{
    list-style: none;
}
#foot-links li{
    display: inline-block;
}
#foot-links a{
    text-decoration: none;
    color: antiquewhite;
}

/* -        -   market.html FORM CSS    -       - */
#model,#price,#year{
    background-color: #ffffffbb;
}
#mainContent{
    margin-left: 175px;
}
#bodyclr{
    /* background-color: #212529; */
    background-color: #101828;
}
#bodyclr.white{
    background-color: rgb(224, 224, 224);
    color: black;
}
#fix{
    opacity: 0.8;
    background: linear-gradient( rgba(255, 254, 254, 0.281), transparent);
    transform: translateX(-240px);
    transition: transform 0.5s ease;
}
#fix.show{
    transform: translateX(10px);
}
#side{ 
    transform: translate(10px, 35vh);
    /* top: 300px; */
    /* left: 10px; */
    transition: transform 0.5s ease;
}
#side.move{
    /* top: 300px; */
    /* left: 10px; */
    transform: translate(250px, 35vh);
}
#sc{
    background: #676d79;
}
.hidden{
    display: none;
}


