
{% extends 'includes/base.html' %}
{% block title %}Login_page{% endblock %}

{% block content %}
    <div id="container">
        <a class="navbar-brand" href="#">
            <img class="rounded-3" src="" alt="-" style="width: 40px;height:40px">
        </a>
        
        <h6 class="">Login Form</h6>
        <form id="loginForm" method="POST" action="{{url_for('auth.login_page')}}" >
            <label for="email">Email</label>
            <input type="email" id="email"  required>

            <label for="password">Password</label>
            <input type="password" id="password"  required>

            <P>No account?</P>
            <a class="btn text-white" style="background-color: #292a2d" href="{{url_for('auth.signup_page')}}">
                Signup
            </a>            <br>
            <a class="text-white text-decoration-none" href="" id="btn-1">forgot password?</a>

            <input type="submit" value="Login">
        </form>
    </div>
   
{% endblock %}

